*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #ccc;
    text-decoration: none;
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#logo{
    margin-left: 25px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

#logo a{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
}

#logo a svg{
    width: 35px;
    height: 35px;
    display: block;
}

#nav-but{
    width: 67%;
    height: 80%;
    margin-right: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.links{
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.links:hover{
    background-color: #ccc;
    color: rgb(54, 54, 54);
}

#map{
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 1;
    position: fixed;
}

.leaflet-control.leaflet-container {
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 4px;
    overflow: hidden;
}

.leaflet-control.leaflet-container .control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 54, 54);
    opacity: 0.8;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.15s, transform 0.1s;
}

.leaflet-control.leaflet-container .control-button svg {
    width: 18px;
    height: 18px;
    margin: 0;
    pointer-events: none;
}

.leaflet-control.leaflet-container .control-button:hover {
    background-color: #181818;
}

.leaflet-control.leaflet-container .control-button:active {
    background-color: #e0e0e0;
    transform: scale(0.96);
}

.leaflet-control.leaflet-container .control-button.active{
    background-color: #ccc;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 4px;
}

.leaflet-control.leaflet-container .control-button.active svg{
    fill: rgb(54, 54, 54);
}

.overlay{
    display: none;
    position: relative;
    z-index: 2;
    width: 350px;
    height: calc(100vh - 50px);
    background-color: rgb(54, 54, 54);
}

.overlay .top{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 10px;
}

.overlay .top h1{
    color: #ccc;
    font-size: 36px;
}

.overlay .top a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .top a svg{
    width: 20px;
    height: 20px;
}

#comment{
    width: 100%;
    height: 210px;
    border: solid 3px #181818;
    border-left: 1px solid #181818;
    border-right: 1px solid #181818;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#comment #user{
    width: 100%;
    height: 30%;
    border-bottom: 1px solid #181818;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#comment #userCom{
    padding: 10px;
    width: 100%;
    height: 70%;
}

#comment #userCom #userComP{
    color: #ccc;
    font-size: 20px;
}

#comment #user a{
    font-size: 30px;
}

#comment #user img{
    height: 90%;
    aspect-ratio: 1 / 1;
}

#comment #user img:hover{
    cursor: pointer;
}