*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
    font-family: sans-serif;
}

a{
    color: #ccc;
    text-decoration: none;
}

button{
    width: 100px;
    height: 35px;
    background-color: rgb(54, 54, 54);
    color: #ccc;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 12px;
}

button:enabled:hover{
    cursor: pointer;
    background-color: rgb(34, 34, 34);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
  box-shadow: none;
}

input{
    width: 400px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    border-radius: 18px;
    outline: none;
    border: 1px solid rgb(54, 54, 54);
    color: rgb(54, 54, 54);
}

input:focus{
    outline: none;
    border: 2px solid rgb(54, 54, 54);
    box-shadow: none;
}

select{
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 13px;
    color: rgb(54, 54, 54);
}

option{
    color: rgb(54, 54, 54);
}

h2{
    font-size: 36px;
}

label{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

#bg-video{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.5);
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#logo{
    margin-left: 25px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

#logo a{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
}

#logo a svg{
    width: 35px;
    height: 35px;
    display: block;
}

#nav-but{
    width: 67%;
    height: 80%;
    margin-right: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.links{
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.links:hover{
    background-color: #ccc;
    color: rgb(54, 54, 54);
}

.container{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#image{
    width: 35%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    min-width: 450px;
    min-height: 450px;
    gap: 20px;
}

#description{
    width: 35%;
    height: 700px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.avatar-wrapper{
    width: 450px;
    height: 450px;
}

.avatar-wrapper img{
    width: 100%;
    height: 100%;
}

#avatarFile{
    display: none;
}

.avatarLabel{
    display: inline-block;
    border-radius: 10px;
    width: 135px;
    padding: 10px;
    background-color: rgb(54, 54, 54);
    text-align: center;
    margin: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
}

.avatarLabel:hover{
    cursor: pointer;
    background-color: rgb(34, 34, 34);
}

#saveAvatar{
    margin: 15px;
}

.passwords{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.passwords .passwordLabel{
    display: flex;
    gap: 15px;
    align-items: center;
}

#toggleNewPassword, #toggleCurPassword{
    width: 35px;
}

#chevron{
    width: 25px;
    height: 22px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

#bi-chevron-down .bi-chevron-up{
    vertical-align: middle;
}

.input-row{
    display: flex;
    align-items: center;
    gap: 10px;
}

.userDes{
    display: flex;
    gap: 5px;
    flex-direction: column;
}