*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#bg-video{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.5);
}

a{
    color: #ccc;
    text-decoration: none;
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#logo{
    margin-left: 25px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

#logo a{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
}

#logo a img{
    width: 35px;
    height: 35px;
    display: block;
}

#nav-but{
    width: 67%;
    height: 80%;
    margin-right: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.links{
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.links:hover{
    background-color: #ccc;
    color: rgb(54, 54, 54);
}

.container{
    z-index: 1;
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
}

.container h1{
    font-size: 75px;
}

#loginForm, #signupForm{
    margin: 0 auto;
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

#loginForm label, #signupForm label{
    font-size: 20px;
    font-weight: bold;
}

#username, #email, #password, #confirmPassword{
    width: 400px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    border-radius: 18px;
    outline: none;
    border: 1px solid rgb(54, 54, 54);
}

#username:focus, #email:focus, #password:focus{
    outline: none;
    border: 2px solid rgb(54, 54, 54);
    box-shadow: none;
}

#submit{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 80px;
    justify-content: space-around;
}

#submit button{
    width: 100px;
    height: 35px;
    background-color: rgb(54, 54, 54);
    color: #ccc;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 12px;
}

#submit a{
    text-decoration: underline;
}

#submit button:hover{
    cursor: pointer;
    background-color: rgb(34, 34, 34);
}